


<div class="col">
  <div class="account-wall">
    <div class="chase-logo">
      <h3 class="text-center"><%=@working_place.address%></h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class='text-center'>出勤可能な社員</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>

          <tr>
            <td class='text-center'><%= user.name%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <%=link_to "編集",edit_working_place_path,class: 'btn btn-primary btn-block'%>
      <%=link_to "戻る",working_places_path,class: 'btn btn-info btn-block'%>


    </div>
  </div>
