<div class="col">
  <div class="account-wall">
    <div class="chase-logo">
      <h1 class="text-center">勤務表</h1>
      <p class="text-center">確認する社員を選択してください</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class='text-center'>社員一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>
          <tr>
            <td class='text-center'><%=link_to user.name,user,style:"width:100%; height:100%; display:block;"%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
