<div class="col">
  <div class="account-wall">
    <div class="chase-logo">
      <h1 class="text-center">社員一覧</h1>
      <p class="text-center">確認する社員を選択してください</p>
      <%=link_to "社員を登録",new_user_registration_path,class: 'btn btn-outline-primary btn-block'%>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class='text-center'>氏名</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class='text-center'><%= link_to user.name, user, style: "width:100%; height:100%; display:block;" %>
              <% case Attendance.today_status(user).working_status%>
              <% when :not_arrived%>
              <span class="badge badge-info">未出社</span>
              <% when :working%>
              <span class="badge badge-success">出勤中</span>
              <% when :left%>
              <span class="badge badge-warning">退勤済み</span>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
