<div class="col">
  <div class="account-wall">
    <div class="chase-logo">
      <h3 class="text-center"><%="#{current_user.name}さん"%></h3>
      <h3 class="text-center">お疲れ様です</h3>
      <p class="text-center">本日のタイムカードを取得してください</p>
      <div class="col text-center">
      <%=link_to "取得する","/attendances/show", class: "btn btn-lg btn-primary", style: "margin-top: 39px;"%>
      </div>
    </div>
</div>
</div>
